---
title: ICH
pageclass: news
---
.container


  :markdown

    ## Introduction
    (https://ich.unesco.org/en/RL/tango-00258)

    *Tango is inscribed in 2009 (4.COM) on the Representative List of the Intangible
    Cultural Heritage of Humanity, jointly by Argentina and Uruguay*

    The Argentinian and Uruguayan tradition of the Tango, now familiar
    around the world, was developed by the urban lower classes in
    Buenos Aires and Montevideo in the Rio de la Plata basin.
    Among this mix of European immigrants to the region, descendents
    of African slaves and the natives of the region known as "*criollos*",
    a wide range of customs, beliefs and rituals were merged and transformed
    into a distinctive cultural identity.
    As one of the most recognizable embodiments of that identity,
    the music, dance and poetry of tango both embodies and encourages
    diversity and cultural dialogue.
    It is practised in the traditional dance halls of Buenos Aires and
    Montevideo, spreading the spirit of its community across the globe
    even as it adapts to new environments and changing times.
    That community today includes musicians, professional and amateur
    dancers, choreographers, composers, songwriters, teachers of the art
    and the national living treasures who embody the culture of tango.
    Tango is also incorporated into celebrations of national heritage in
    Argentina and Uruguay, reflecting the widespread embrace of this popular
    urban music.


  %h3 Decision of the Intergovernmental Committee: 4.COM 13.01
  %p
    (https://ich.unesco.org/en/decisions/4.COM/13.01)
    = link_to "Inscription", "https://ich.unesco.org/en/decisions/4.COM/13.01"
  %p
    *Concepts*:
    Artists |
    Choreography |
    Composers |
    Emotions |
    Immigrants |
    Indigenous peoples |
    Intercultural communication |
    Latin American cultures |
    Orchestras |
    Poetry |
    Slavery |
    Traditional dance |
    Traditional music |
    Urban areas |
    Vocal music |
    Working class |

  :markdown
    The Committee,

      1.  _Takes note_ that Argentina and Uruguay have nominated
      the **Tango** for inscription on the Representative List of the
      Intangible Cultural Heritage of Humanity, described as follows:

    > The Argentinean and Uruguayan tradition of the Tango, now familiar
    around the world, was developed by the urban lower classes in
    Buenos Aires and Montevideo in the Rio de la Plata basin.
    Among this mix of European immigrants to the region, descendents of
    African slaves and the natives of the region known as criollos, a
    wide range of customs, beliefs and rituals were merged and transformed
    into a distinctive cultural identity.
    As one of the most recognizable embodiments of that identity, the music,
    dance and poetry of tango both embodies and encourages diversity and
    cultural dialogue.
    It is practised in the traditional dance halls of Buenos Aires and
    Montevideo, spreading the spirit of its community across the globe
    even as it adapts to new environments and changing times.
    That community today includes musicians, professional and amateur
    dancers, choreographers, composers, songwriters, teachers of the art
    and the national living treasures who embody the culture of tango.
    Tango is also incorporated into celebrations of national heritage in
    Argentina and Uruguay, reflecting the widespread embrace of this
    popular urban music.

      2. _Decides_ that, from the information provided in Nomination
      File 00258, the **Tango** satisfies the criteria for inscription on
      the Representative List, as follows:

    R.1:   The Tango is a musical genre that includes dance, music,
    poetry and singing, and is considered one of the main manifestations
    of identity for the inhabitants of the Río de la Plata region;

    R.2:   Inscription of the element on the Representative List would
    contribute to visibility of intangible cultural heritage and a deeper
    understanding of the Tango as a regional expression resulting from
    the fusion of several cultures;

    R.3:   The two nominating States have presented a number of joint and
    individual safeguarding measures for the element by which the
    communities and the authorities commit to the creation of specialized
    training and documentation centres, as well as the establishment of
    an orchestra, museums and preservation trusts;

    R.4:   The nomination of the element benefitted from the continuous
    participation of the Uruguayan and Argentinean communities through
    meetings, seminars, interviews and workshops, and community
    representatives have signed documents to mark their free, prior and
    informed consent;

    R.5:   The element is included in the inventories of intangible
    cultural heritage that are being elaborated in Uruguay and Argentina.

      3. _Inscribes_ the Tango on the Representative List of the
      Intangible Cultural Heritage of Humanity.




    ## News:
    (https://ich.unesco.org/en/news/intangible-cultural-heritage-inventorying-sees-results-in-argentina-00058)

    ### Intangible cultural heritage inventorying sees results in Argentina

    *27 September 2013 Argentina*

    Tango bearers, government officials and members of concerned
    non-governmental organizations have been making steady progress
    since April 2013 in drawing up intangible heritage inventories,
    considered a priority safeguarding measure by the tango community
    in Buenos Aires.

    Guided by the UNESCO-trained expert, Ms Mónica Lacarrieu, the
    inventory team chose, among the different musical, poetic and human
    elements of the practice of tango, to focus on milongas, the popular
    evenings where men and women gather in local clubs to dance the tango
    and the music that carries that same name.
    From April to November, after having received theoretical training on
    basic notions of the 2003 Convention for the Safeguarding of the
    Intangible Cultural Heritage, the team is interviewing a wide range of
    people and governmental and non-governmental organizations related
    with the world of milongas.
    On Thursday 26 September in Buenos Aires the tenth biweekly
    coordination meeting takes place to plan next steps, analyse and
    improve the inventorying process, coordinate its work and assess
    the intermediate results.

    This work constitutes the third phase of the sub-regional project
    ‘Living Heritage’ currently implemented in Argentina, Paraguay and
    Uruguay thanks to the generous support of UNESCO/Japan Funds-in-Trust
    for Safeguarding Intangible Cultural Heritage.
    It is part of UNESCO’s global strategy for strengthening national
    capacities for safeguarding intangible cultural heritage.

    ## Office of UNESCO in Montevideo -- Intangible Heritage
    (http://www.unesco.org/new/es/office-in-montevideo/cultura/intangible-heritage/)


    Strengthening national capacities for effective safeguarding of intangible cultural heritage in Argentina, Paraguay and Uruguay
    Project budget: US$ 200,000
    Source: Japan Funds-in-Trust
    Dates of implementation: 01/06/2012 - 01/02/2014
    (https://ich.unesco.org/en/projects/strengthening-national-capacities-for-effective-safeguarding-of-intangible-cultural-heritage-in-argentina-paraguay-and-uruguay-00283)