---
title: Submission
pageclass: submit
---
.container
  %h2 Joint Submission by Argentina and Uruguay
  %p
    = link_to "EN Nomination (doc)", "https://ich.unesco.org/doc/download.php?versionID=29586"
    = link_to "(cache)", data.chrome.rawgit + "2009-inscription/26041-EN-application-2009.pdf"
  %p
    = link_to "ES Signatures (pdf)", "https://ich.unesco.org/doc/download.php?versionID=29566"
    = link_to "(cache)", data.chrome.rawgit + "2009-inscription/26035-ES-application-2009.pdf"


  #jointsubmit.collapsed.alert.alert-info
    :markdown
      CONVENTION FOR THE SAFEGUARDING OF
      THE INTANGIBLE CULTURAL HERITAGE

      INTERGOVERNMENTAL COMMITTEE FOR THE
      SAFEGUARDING OF THE INTANGIBLE CULTURAL HERITAGE

      Fourth session
      Abu Dhabi, United Arab Emirates
      28 September to 2 October 2009

      ### Nomination for inscription on the Representative List in 2009 (Reference No. 00258)

      A. State Party: Argentina - Uruguay

      B. Name of element: The Tango

      C. Community(ies), group(s) or, if applicable, individual(s) concerned:

      The Buenos Aires and Montevideo communities involved in the
      production of artistic and cultural acts related to Tango:
      dancers, musicians, composers, poets, singers, tango experts,
      researchers, producers, milongas [dance halls], filmmakers,
      specialized journalists, students in diverse arts, trades and
      techniques.

      **Buenos Aires**

      - Academian Nacional del Tango – ANT.

      - Asociación Argentine de Autores y Compositores — SADAIC.

      - Asociación Argentina de Intérpretes – AADI.

      - Academia Porteña de Lunfardo – APL.

      - Bailarines y Coreógrafos de Tango Argentino – AMBCTA.

      - Foro Argentino de Cultura Urbana.

      - Fundación Astor Piazzolla.

      - Asociación de Milongas.

      **Montevideo**

      - Academia del Tango de la República Oriental del Uruguay.

      - Avalancha Tanguera.

      - Asociación General de Autores del Uruguay, AGADU.

      - Diversas Milongas

      - Fundación Piazzolla.

      - Federación Uruguaya del Tango, FUTANGO.

      - Joventango.

      - La morocha.

      - La yunta.

      - Sociedad Uruguaya de Artistas e Intérpretes, SUDEI.

      D. Brief textual description of the nominated element:

      Tango is a genre that originally involved dance, music, poetry and
      singing.
      Tango expresses a way of conceiving the world and life and it
      nourishes the cultural imagery of the inhabitants of the capital
      cities of the Rio de la Plata.
      This genre includes also the milonga, the milonga candombeada and
      the so-called vals criollo.

      Tango was born among the lower urban classes in both cities as an
      expression originated in the fusion of elements from Argentine and
      Uruguayan's African culture, authentic criollos [natives of this
      region] and European immigrants.
      As the artistic and cultural result of hybridization`s processes,
      Tango is considered nowadays one of the fundamental signs of the
      Rio de la Plata’s identity.

      1. Identification of the element

      1.a. Name of element: The Tango

      1.b. Other name(s) of the element, if any:

      - Urban Popular Music.
      - Urban Music.
      - Typical Music of The Rio De La Plata.

      1.c. Identification of the community(ies), group(s) or, if applicable,
      individual(s) concerned and their location:

      Tango development has involved communities, groups and individuals,
      whose contribution has enabled it to remain valid until today.
      We may mention, among others, as these contributors:

      - artists who are engaged exclusively with every possible expression
      of tango.

      - musicians: soloists, bands, orchestras.

      - professional and amateurs tango dancers.

      - choreographers.

      - composers.

      - songwriters & poets.

      - dramatists and script writers.

      - specialized journalists.

      - tango experts and investigators.

      - tango´s literature and music editors.

      - academies and workshops on tango learning-teaching situations.

      - national living treasures.

      - internet tango sites.

      - amateurs

      Documents include institutions individuals that support this
      presentation.

      1.d. Geographic location and range of the element:

      Tango was originated and developed in both Capitals of the
      Rio de la Plata’s basin: Buenos Aires and Montevideo.
      Due to this fact, both countries are making a joint presentation
      for its nomination.

      Nowadays even though Tango is well known all over the world and its
      essence is transformed in multiple aspects and ways, it continues
      to be one of the most easily identifiable cultural symbols of our
      identity.

      **See documents – maps. **

      1.e. Domain(s) represented by the element:

      Tango is present in many fields, especially at:

      a) Oral traditions and expressions, including language as a vehicle
      of the intangible cultural heritage,

      b) Performing arts: dance, music, poetry, singing,

      c) Social practices and festivity events,

      d) Traditional handcrafted techniques.

      2. Description of the element (cf. Criterion R.1):

      According to the definition of The Convention, Art. Nr. 2, Tango
      represents Intangible Cultural Heritage as a symbol of human
      creativity under different human historical circumstances.

      In general, Tango is a particular form of expression created by
      individuals and groups from different origins who lived together
      under precarious and unstable circumstances, far away from their
      original countries and roots [the immigrants], far away from their
      own nature [former gauchos], or descendants of slaves [representing
      the African American people in the region].

      In this forced community, their customs, beliefs, rituals, and objects
      merged and transformed not only their way of life, but the culture of
      both cities.

      This resulted in cultural heritage involving countless representative
      works produced by the creative skills of these communities.
      This new cultural heritage was the result of this melting pot
      originated in the Rio de la Plata`s region.

      Tango is an example of a cultural sedimentation’s process and it
      constitutes by itself, along its different stages, an exceptional
      example of social transformation across time.

      Passed on from generation to generation, up to the mid 20th century
      Tango suffered a decrease in its creation and circulation.
      At that time younger generations - changed their tastes due to the
      influence of the international pop culture.

      However, the most essential substratum of our urban culture remains
      and consequently, after a while, renewed forms of Tango appear.

      As any long-lasting cultural phenomenon in complex societies, it has
      enriched itself with a wide variety of contributions.
      Therefore the need to stress the sense of identity that it proposes,
      respecting cultural diversity at its very core.
      Cultural diversity, in fact, belongs to its origin and is critical in
      its search for its essence and roots.

      3. Contribution to ensuring visibility and awareness and to
      encouraging dialogue (cf. Criterion R.2):

      Although Tango is known almost all over the world, not always it is
      known as it really is in its most authentic way and character.
      The knowledge about it tends to be superficial and mostly it is seen
      as extravagant and exotic.

      For example, Europeans understand Tango as music of the belle-époque,
      expressing the glamour of those crazy years, the cabarets, the
      fascination for a sensual dance in which the man leads the woman in a
      series of exaggerated movements, twisting her torso in a way uncommon
      in our cities (with the exception of choreographic performances).
      It seems that Tango is perceived as a synonym of luxury.
      However, it was born among the lower classes and it took long before
      it became a success in their hometowns.
      As a consequence of this distorted image, it is vital to inscribe
      Tango in the Representative List of Safeguarding Intangible Cultural
      Heritage of Humanity in order to secure its visibility as an essential
      expression and authentic product, result of a multiplicity of cultures
      with a variety of expressions across time.

      In a world context in which the great cultural industries produce all
      kind of articles, from books to DVD’s, practically without brands, or
      showing a certain kind of international folklore with only one target
      (the consumer), the protection of Tango in all its expressions and in
      all depth of its meaning, will serve to reaffirm it as a cultural
      manifestation.

      This inclusion in the Representative List will be a means to enrich
      the Intangible Cultural Heritage across the world, while reaffirming
      at the same time this essential element of the porteña and Montevidean
      culture.

      4. Safeguarding measures (cf. Criterion R.3)

      4.a. Current and recent efforts to safeguard the element:

      Buenos Aires and Montevideo

      - Private, state-supported, collective and individual initiatives
      that try to communicate Tango in all its dimensions, and try to reach
      the widest range of society.

      - Committee for the Preservation of the Cultural Heritage of the
      Rio de la Plata.

      - Coordination of joint goals to perform activities, events and projects.

      - 90th Anniversary of La Cumparsita [2007].

      - Training Workshops by specialists Ledesma and Romo [2007-2008].

      Buenos Aires

      Efforts carried out by private agents and institutions, which are
      part of the community. See C.

      At official level, it is protected by:

      1. Argentina’s national legislation

      - December 11th – Tango National Day.

      - Creation of The National Academy of Tango.

      - National Tango Law.

      2. Legislation of the city of Buenos Aires

      - Law of Tango as Cultural Heritage of the City.

      - Creation of Tango Underground Touristic Cultural Tour.

      - Various and regular tributes to personalities and distinguished
      communicators by the Executive and Legislative.

      3. These institutions and organisms depend of the city of Buenos Aires
      government:

      - Buenos Aires Tango Orchestra.

      - Emilio Balcarce School Orchestra.

      - Hugo del Carril Tango Contest

      - Radio Ciudad (official radio station of the government of Buenos Aires
      2 x 4 Frecuencia Modulada 92.7. Exclusive Tango programming).

      - Tango Festival and International Tango Dance Competition

      - Public Cultural Programs in Neighbourhoods. Tango dance, music,
      singing and history courses in cultural centers located in each
      neighbourhood.

      - Public Cultural Spaces

      - Museum Carlos Gardel

      - Youth Orchestras. Social inclusion programs.

      - Tango STUDIES- Manuel de Falla Music Academy

      - Fondo de Cultura de Buenos Aires. Public financing program for
      research, production, edition and recording of Tango-related works.

      - Popular Music School of Avellaneda: depending on the government of
      the province of Buenos Aires.


      Montevideo

      - Heritage Day. Annual celebration with activities connected to Tango.

      - Viva el Tango Festival. Performed since October 1977, the Tango month.

      - HERITAGE DAY 2003. Tribute to teacher and musicologist Lauro Ayestarán.

      - III World Tango Summit 1996 within the framework: Montevideo -
      Capital of Iberoamerican Culture.

      - Presentation: Collection of original records by Carlos Gardel at UNESCO. Declared Memoria del Mundo. (World Memory)

      - La Cumparsita, Uruguay’s cultural and popular anthem
      [Presidential decree, 1998].

      - Tango Circuit – Montevideo Tango tourist guide –
      Touristic Corporation of Montevideo.

      - Octubre 5 - Uruguayan Tango Day.

      - Philarmonic Orchestra of Montevideo. Tango galas.

      - Tango-Dance circuit by means of promotion of communal projects in
      different neighbourhoods.

      - Festivals: Viva el Tango, Tango Vivo, Festival Internacional de
      Tango [La Dominguera].

      - Training Workshops – musical composition.

      - Coordination with the University School of Music. Workshops:
      Master Nicolás Ledesma.

      - Coordination with Municipal School of Music. Training in Bandoneón:
      Master Romo [Argentina].

      - 90 + 1 Cumparsita. Cultural Heritage of Montevideo.

      - Audible Monument to La Cumparsita.

      - Digitalization of all the versions of La Cumparsita.

      - Tango de Cercanías [Circuito Boliches y Bares Históricos].

      - Tango Circuit – Harbour Market, streets’ names based on tango
      traditions.

      4.b. Safeguarding measures proposed:

      Buenos Aires and Montevideo

      The Ministry of Culture of the City of Buenos Aires and the
      Department of Culture of the City Hall of Montevideo agreed to take
      the following joint measures in order to safeguard Tango, namely:

      I. Typical Orchestra of Rio de la Plata

      Objectives: To recover and register the repertoire of the typical
      orchestras.

      Actions: Creation of Orquesta Tipica del Rio de la Plata [Typical
      Orchestra of the Río de la Plata] formed by young musicians from the
      two cities, conducted by celebrated Tango masters.
      It will perform a varied repertoire, focusing on unknown pieces,
      and it will commission new music.

      Deadline: May 2010.

      Responsible: Ministry of Culture – Buenos Aires City.

      Amount: US $ 100.000

      II. Luthier Training Center

      Objectives: To train people in the luthier trade, focusing on the
      repair, tuning and maintenance of the bandoneón, a musical instrument
      that is no longer manufactured.
      If possible, create the conditions to encourage the manufacture of
      the bandoneón in the region again.

      Actions:

      - Creation of the chair in bandoneón.

      - Encourage children and young people to study this musical instrument.

      - Edition of bibliography addressed to the teaching-learning process
      involving this instrument.

      Deadline: March 2010.

      Responsible: Ministry of Culture – Buenos Aires City.

      Amount: US $ 70.000

      III. Tango Data Rioplatense

      Objectives: Register and tracking of Tango data.

      Actions: Creation of an internet site

      Deadline: Julio 2010.

      Responsible: Ministry of Culture – Buenos Aires City /
      Department of Culture, City Hall – Montevideo.

      Amount: US $ 30.000

      IV. Joint editions

      Objectives: Communication and promotion

      Actions:

      - Edition of a Tango Guide.

      - Literature and music editions.

      Deadline: November 2009.

      Responsible: Ministry of Culture – Buenos Aires City /
      Department of Culture – City Hall, Montevideo.

      Amount: US $ 50.000

      V. Prominent cafes (bares notables)

      Objectives: To continue the ongoing line of actions undertaken by
      each city in order to promote the prominent cafes as social and
      cultural spaces where different expressions of Tango take place.

      Actions: Design of a joint program between Buenos Aires and Montevideo
      with the objective to rescue and promote forgotten and historical
      repertoires of Tango.

      Deadline: September 2009.

      Responsible: Ministry of Culture – Buenos Aires City -
      Department of Culture – City Hall, Montevideo.

      Amount: US $ 130.000

      Vi. Tango Hostels in both cities.

      Objectives: accommodation for specialists arriving for training
      courses.

      Deadline: As of January 2011.

      Responsible: Ministry of Culture – Buenos Aires City /
      MEC - MINTUR Montevideo.

      Amount: US $ 300.000

      Buenos Aires

      The city of Buenos Aires proposes the realization of:

      I. Tango documentation and record center (CDRT)

      Human resources: Staffed by documentation, conservation, storage and
      digitalization specialists.

      Objectives: Research, compilation, preservation, storage and
      recording of Tango related material.

      Actions:

      - Possible recovery and mise en valeur of a “conventillo”
      (communitarian house) for the CDRT.

      - Collection and recording of audio material: rodillos – vinyl
      records 78rpm – 45 rpm – 33 rpm, cassettes.

      - Recovery of manuscripts: composers, poets, singers, and specialists’
      notes.

      - Graphics – photographic - film - audiovisual in all its versions.

      - Playing devices adapted to existing different formats.

      - Recovery of instruments that belonged to celebrities.

      - Recovery of music scores and unregistered texts.

      - Recovery of musical arrangements for special orchestrations.

      - Recovery of vintage wardrobe.

      - Creation of an archive related to the choreographical evolution of
      Tango.

      - Creation of a registry to track and stock lists of elements related
      to Tango, on an international database, with the aim to centralize the
      existing information scattered among several institutions, collections,
      etc.

      - Promotion of research on diverse subjects related to Tango (stylistic,
      formal, interpretative or historical analysis).

      - Research publication

      - Digitalization of the existing works that can be found in outdated
      formats

      - Agreement with institutions: state institutions, NGO’s and private
      organizations with the aim to facilitate the creation of the registry
      office.

      - Recovery of stolen and/or lost bandoneones AAA,

      Deadline: Different stages. 1st term July 2010.

      Responsible: Ministry of Culture – Buenos Aires City.

      Amount: US $ 500.000

      II. Tango dance institute

      Objectives: To safeguard the historical diversity regarding particular
      Tango dancing styles.

      Actions:

      - Creation of an institute for the teaching of tango with the purpose
      to invite renowned personalities related to this dance to pass on
      their knowledge about different styles.

      - Record of graphics and films involving tango.
      Material will be stored at the tango documentation and record center.

      - DVD’s release, produced as a way of instruction and education,
      showcasing performances by celebrated tango dance artists.

      - Creation of a fund to promote the circuit of milongas (tango dance
      halls): milongas are popular dance halls, where tango is danced by
      people from all walks of life.

      Deadline: January 2011.

      Responsible: ministry of culture – Buenos Aires city.

      Amount: us $ 300.000

      Montevideo

      Proposal to broaden the reach of Decree Nr. 26864 related to public
      interest objects and places.
      The proposal incorporates intangible heritage goods –Tango included:

      I. Creation of fund “gerardo matos rodríguez”

      Objectives: Promotion of projects, research and experiments.

      Actions: Creation of the Fund and call for applications.

      Deadline: August 2009.

      Responsible: Department of Culture and Mintur; Mec, Montevideo.

      Amount: US $ 100.000

      II. Tango museum

      Objectives: To compile, store, preserve and exhibit works with
      accessibility for the general public.

      Actions: Creation of the Museum of Tango and a Digital Library.

      Deadline: August 2009.

      Responsible: Department of Culture and Mintur; Mec, Montevideo.

      Amount: US $ 500.000 every six months

      III. Tango circuits

      Objectives: Creation of thematic circuits.

      Actions: Banners, leaflets and guided tours.

      Deadline: August 2009.

      Responsible: Department of Culture and Mintur; Mec, Montevideo.

      Amount: US $ 200.000

      4.c. Commitments of States and of communities, groups or individuals
      concerned:

      Letter of commitment of representatives of applicant States,
      commitment forms and emails by community leaders, showing their
      awareness about the objectives of this presentation and reassuring
      the future commitment of all involved parties.

      5. Community involvement and consent (cf. Criterion R.4)

      5.a. Participation of communities, groups and individuals:

      The elaboration process for the candidacy of the nomination of Tango
      was undertaken with the constant and proactive participation of the
      above mentioned communities in Argentina and Uruguay.

      This process was initiated months ago with a series of meetings,
      seminars and interviews, which intended to inform and interest
      leading individuals from the involved communities about the
      characteristics and the importance of this presentation.

      In this sense, we can stress the participation of diverse
      institutions, academies, milongas, cultural centres, artists, and
      Tango personalities.

      This presentation was prepared under the tutoring of well known
      researchers with an important background in the field, such as
      Gustavo Goldman, Gustavo Mozzi, Ana Sebastián and Carla Algeri.

      As a final step in the development of this presentation, several
      workshops were carried out with the participation of leaders from
      different Tango expressions, with the purpose of agreeing on the
      proposals for the definitive document.

      5.b. Free, prior and informed consent:

      As shown in the annex, the community approves this presentation and
      accepts and confirms its participation and commitment towards this
      application for the nomination of Tango, and consequently, supports
      the specialized teams in the matter in Argentina and Uruguay.

      Appended.

      5.c. Respect for customary practices governing access:

      Through the commitment letters written by the people in charge of
      the States and the commitment of the represented community, at this
      stage, the practices and measures of safeguard are approved of and
      consented as included in this presentation because they will result
      in the absolute benefit of the condition, nature and protection of
      Tango.

      6. Inclusion on an inventory (cf. Criterion R.5):

      The inventories of the Intangible Cultural Heritage of Uruguay and
      Argentina are being elaborated according to the criteria in the new
      Convention of UNESCO and taking into consideration those materials,
      inventories and records of the intangible cultural heritage already
      existing in both countries.

      Buenos Aires and Montevideo proposed a list of elements related to
      intangible heritage in each city to the National Authorities of the
      respective countries.
      These lists were ratified by authorities, organizations and
      institutions and will also serve as a basis for future inventories
      in both cities. Tango is included in these lists.

      7. Documentation

      7.a. Required and supplementary documentation:

          • Photographs

      Twenty three (23) recent photographs as primary and supplementary
      material. See.

      See documents – photographs

          • Video

      Video edited following de requirements of this presentation.

      - Cultura de todos [Everybody´s Culture] Montevideo ´s Filarmonic
      Orchestra

      - Las Cumparsitas, Compilation of different version of this popular
      tango.

      See: Documents - video.

          • Audio

      See: Documents – audio.

          • Maps

      Two (2) maps with de situation of de Río de la Plata¨s Area en the two
      capitals cities: Buenos Aires y Montevideo.

      See Documents – maps.

          • Books

      - Labraña, Luis & Sebastián, Ana: Tango, una historia, Buenos Aires, 1992. 2ª. ed. 2000.

      - Santaolalla, Gustavo & Vázquez Manzini: Café de los Maestros. Buenos Aires, 2006.

      - Maronese, Leticia: De milongas y milnguer@s . Buenos Aires, 2008. Incluye DVD.

      - Goldman, Gustavo. Lucamba. Herencia africana en el tango1870- 1890. Montevideo, 2008. (Of this book, only one (1) copy).

      7.b. Cession of rights:

      Appended.

      7.c. List of additional resources:

      Basic bibliography

      - Assunçao, Fernando : El tango, Montevideo, 2000.

      - Barcia, José y otros : Primer diccionario gardeliano, Buenos Aires, 1985.

      - Bates, Héctor y Luis : La historia del tango, Buenos Aires, 1936.

      - Borges, Jorge Luis : El idioma de los argentinos, Buenos Aires, 1928.

      - Bossio, Jorge A. y Gobello, José : Tangos, letras y letristas, Buenos Aires, 1979.

      - Cadícamo, Enrique : Memorias, Buenos Aires, 1983.

      - Cadícamo, Enrique : La historia del tango en París, Buenos Aires, 1975.

      - Canaro, Francisco : Mis bodas de oro con el tango y mis memorias, Buenos Aires, 1969.

      - Carella, Tulio : El tango. Mito y esencia, Buenos Aires, 1956.

      - Carella, Tulio : Picaresca porteña, Buenos Aires, 1967.

      - Castillo, Cátulo : Buenos Aires, tiempo Gardel, Buenos Aires, 1966.

      - De Caro, Julio : El tango en mis recuerdos, Buenos Aires, 1964.

      - Defino, Armando : Carlos Gardel, la verdad de una vida, Buenos Aires, 1968.

      - Discépolo, Enrique Santos : Audición en Radio Municipal 11-12-1936.

      - Dos Santos, Estela : “Las cantantes” en Historia del tango, T. 13, Buenos Aires, 1979.

      - Eichelbaum, Edmundo : L’age d’or du tango : Carlos Gardel, Paris, 1984.

      - Ferrando, Rodolfo (a) Frigerio, Rogelio : Argentina, canciones tradicionales y contemporáneas, Buenos Aires, 1973.

      - Ferrer, Horacio Arturo : El libro del tango, Buenos Aires, 1977.

      - García Jimémez, Francisco : Así nacieron los tangos, Buenos Aires, 1965.

      - García Jiménez, Francisco : El tango. Historia de medio siglo, Buenos Aires, 1964.

      - Gesualdo, Vicente : Historia de la música argentina, Buenos Aires, 1961.

      - Goldman, Gustavo : Lucamba, herencia africana en el tango 1870-1890, Montevideo, 2008.

      - Gómez Bas, Joaquín : Buenos Aires y lo suyo, Buenos Aires, 1976.

      - Guarnieri, Juan Carlos : El habla del boliche, Montevideo, 1967.

      - Labraña, Luis & Sebastián, Ana : Tango, una historia, Buenos Aires, 1992. 2ª. ed. 2000.

      - Labraña, Luis & Sebastián, Ana : Lengua y poder. El argentino metropolitano, Buenos Aires, 2004.

      - Lara, Tomás de y Roncetti de Panti, Inés L. : El tema del tango en la literatura argentina, Buenos Aires, 1968.

      - Legido, Juan Carlos : La otra orilla del tango, Montevideo, 2007.

      - López Peña, Arturo : El habla popular de Buenos Aires, Buenos Aires, 1972.

      - Lynch, Ventura R. : Folklore bonaerense, Buenos Aires, 1883.

      - Marechal, Leopoldo : Historia de la calle Corrientes, Buenos Aires, 1967.

      - Ortiz Oderigo, Néstor : Aspectos de la cultura africana en el Río de la Plata, Buenos Aires, 1974.

      - Petit de Murat, U. : Presencia viva del tango, Buenos Aires, 1964.

      - Rivero, Edmundo : Conversación con Cherry Duyns, Buenos Aires, 1984.

      - Rivero, Edmundo : Una luz de almacén, Buenos Aires, 1982.

      - Romano, Eduardo : Las letras del tango, Rosario, 1990.

      - Rossi, Vicente : Cosas de negros, Buenos Aires, 1958. (1ª ed.1926).

      - Rossler, Osvaldo : Buenos Aires dos por cuatro, Buenos Aires, 1967.

      - Sábato, Ernesto : Tango. Discusión y clave, Buenos Aires, 1963.

      - Scobie, James R. : Buenos Aires. Plaza to Suburb 1870-1910. New York, 1974.

      - Sebastián, Ana : Tango, literatura e identidad, Buenos Aires, 2006.

      - Sierra, Luis A. : Historia de la orquesta típica, Buenos Aires, 1960.

      - Torres Roggero, Jorge : Discépolo vivo : antología y testimonio, Rosario, 1978.

      - Vega, Carlos : Danzas y canciones argentinas, Buenos Aires, 1936.

      - Vidart, Juan Carlos : El tango y su mundo, Montevideo, 2007.

      - Ulla, Noemí : Tango, rebelión y nostalgia, Buenos Aires, 1982

      8. Contact information

      8.a. Submitting State Party: Argentina - Uruguay

      8.b. Contact person for correspondence:

      Argentina

      Ministro de Cultura del Gobierno de la Ciudad de Buenos Aires
      Ingeniero Hernán Lombardi
      Avenida de Mayo 575. 2º piso. Ciudad Autónoma de Buenos Aires
      Argentina
      (54 11) 4323 9400
      hlombardi@buenosaires.gov.ar

      Uruguay

      Director de División Promoción Cultural –
      Departamento de Cultura de la Intendencia Municipal de Montevideo.
      Sr. Eduardo León Duter
      Palacio Municipal Avenida “18 de Julio” 1360, piso 3.
      Montevideo – Uruguay
      (00549) 19502044 – 19502048
      eleon@piso23.imm.gub.uy

      8.c. Competent body involved:

      Argentina

      Dirección de Patrimonio e Instituto Histórico de la Ciudad de Buenos Aires
      Ministerio de Cultura — Gobierno de la Ciudad de Buenos Aires
      Licenciada Liliana Graciela Barela.
      Córdoba 1556 Piso 1°. Ciudad Autónoma de Buenos Aires. C.P. : 1055
      (54 11) 4813 5822/4813 9370
      lilianabarela@buenoaires.gov.ar

      Uruguay

      Unidad de Patrimonio – Intendencia Municipal de Montevideo.
      Coodinador : Arquitecto Francisco Bonilla.
      Palacio Municipal. Av. “18 de Julio” 1360. Piso 9.
      Ciudad de Montevideo, Uruguay
      Tel : (00598 2) 19501465 y 19501992.
      upatrimonio@piso8.imm.gub.uy

      Programa Tango en Obra.
      Asesora : Natalia Rubinstein.
      Palacio Municipal. Av. “18 de Julio” 1360. Piso 3.
      Tel : (00598 2) 19501215
      tangoenobra@gmail.com

      8.d. Concerned community organization(s) or representative(s):

      Argentina

      Academia Nacional Del Tango
      Presidente : Sr. Horacio Arturo Ferrer
      Av. de Mayo 833
      Teléfono : (0054 11) 4315 6967/68
      Ciudad de Buenos Aires

      Sociedad Argentina de Autores y Compositores – SADAIC
      Presidente : Sr. Atilio Stampone.
      Lavalle 1547
      Teléfono : (0054 11) 4379 8600/8518
      Ciudad de Buenos Aires.

      Asociación Argentina de Intérpretes – AADI
      Presidente : Sr. Leopoldo Federico
      Viamonte 1665
      Ciudad de Buenos Aires

      Academia Porteña del Lunfardo
      Presidente : Sr. José Gobello
      Estados Unidos 1379
      Teléfono : (0054 11) 4383 2393
      Ciudad de Buenos Aires

      Foro Argentino de Cultura Urbana
      Fundación Astor Piazzolla
      Presidente : Sra. Laura Escalada de Piazzolla
      Av. Córdoba 1513, Piso 10
      Ciudad de Buenos Aires-

      Asociación de Milongas (lieux où l’on danse le tango)
      (Voir annexes).

      Uruguay

      Academia del Tango de la República Oriental del Uruguay.
      Director : Dr. Nelsón Sica Dell’Isola
      Secretario General : Hugo Indarte Geymonat
      acadtangorou@hotmail.com

      Sociedad Uruguaya de artistas e Intérpretes del Uruguay – SUDEI.
      Pte. Prof. Roberto Giordano.
      Convención 1204
      (00598 2) 900 24 64
      sudei@adinet.com.uy
      info@sudei.org.uy

      Asociación General de Autores del Uruguay – AGADU.
      Canelones 1130
      (00598 2) 9003188
      agadu@agadu.org

      Joventango
      Centro Cultural Mercado de la Abundancia
      Secretaria : Isaura Eramuspe
      Aquiles Lanza 1290.
      (00598 2) 9005561 – 9086813
      www.joventango.org

      Diversas Milongas

      Federación Uruguaya del Tango- FUTANGO
      Centro Cultural Mercado de la Abundancia — Aquiles Lanza y San José.
      Comisión César Zagnoli
      Joanicó 3815 (00598 2 508 5959)
      Representada por : Sr. Julio Arregui

      FUDEM
      Pte. Sergio Navatta.
      Maldonado 983
      (00598 2) 9087370

      Fundación Julio Sosa
      Sala 18 de Mayo – Las Piedras
      Representada por Esc. Freddy González.

      9. Signature on behalf of the State Party:

      <signed>
